<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Buscar Consumo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
</head>

<body>
    
    <div class="content read">
        <div class="title"><h2>Estoque - itens de Consumo</h2></div>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Qntd estoque</td>
                    <td>Data da ultima compra</td>
                    <td>Categoria</td>
                    <td>Local armazenado</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${itens}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.nome_produto}"></td>
                    <td th:text="${item.quantidade}"></td>
                    <td th:text="${item.data_compra}"></td>
                    <td th:text="${item.categoria}"></td>
                    <td th:text="${item.local_armazem}"></td>
                    <td class="actions">
                        <a href="" class="edit"><i class="fas fa-pen fa-xs"></i></a>
                        <a href="" class="trash"><i class="fas fa-trash fa-xs"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="links">
        <a href="/cadastro-consumo">
            <div class="link">
                <h1>Cadastrar item</h1>
            </div>
        </a>
    </div>
    
</body>

</html>