<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Buscar Consumo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
</head>

<body>
    <div class="sideBar">
        <div class="logo">
            <img th:src="@{/img/logo-senai1.png}" alt="">
        </div>
        <ul>
            <li><a href="/interna-adm" class="link-sidebar"><i class="fa-solid fa-inbox"></i> Dashboard</a></li>
            <li><a href="/adm_funcionarios" class="link-sidebar"><i class="fa-solid fa-circle-user"></i> Funcionários</a></li>
            <li><a href="/adm_patrimonio" class="link-sidebar"><i class="fa-solid fa-star"></i> Ativos</a></li>
            <li><a href="/adm_sala" class="link-sidebar"><i class="fa-solid fa-house"></i> Ambientes</a></li>
            <li class="active"><a href="/adm_consumo" class="link-sidebar"><i class="fa-solid fa-box"></i> Estoque</a></li>
            <li><a href="/adm_mov" class="link-sidebar"><i class="fa-solid fa-arrows-alt-v"></i> Movimentações</a></li>
            <li><a href="/logout_adm" class="link-sidebar"><i class="fas fa-sign-out-alt"></i>Sair</a></li>
        </ul>
    </div>
    <div class="navBar">
        <ul>
            <li><input type="text" placeholder="Buscar..."></li>
            <div class="iconsBar">
                <i class="fa-solid fa-cog"></i>
                <i class="fa-solid fa-bell"></i>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyqI7u9US1GS-0749Cj7KOXgxxHrgkLqgtEw&s">
            </div>
        </ul>
    </div>
    <div class="content read">
        <div class="title">
            <h2>Estoque - itens de Consumo</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Qntd estoque</td>
                    <td>Data da ultima compra</td>
                    <td>Categoria</td>
                    <td>Local armazenado</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${itens}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.nome_produto}"></td>
                    <td th:text="${item.quantidade}"></td>
                    <td th:text="${item.data_compra}"></td>
                    <td th:text="${item.categoria}"></td>
                    <td th:text="${item.local_armazem}"></td>
                    <td class="actions">
                        <a href="" class="edit"><i class="fas fa-pen fa-xs"></i></a>
                        <a href="" class="trash"><i class="fas fa-trash fa-xs"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="links">
        <a href="/cadastro-consumo" class="link" style="width: 50em">
            <div>
                <h1>Cadastrar item</h1>
            </div>
        </a>
        <a href="/adm-registrar-saida" class="link" style="width: 50em">
            <div>
                <h1>Registrar saída</h1>
            </div>
        </a>
    </div>

</body>

</html>