<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Buscar Funcionario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
</head>

<body>

    <div class="content read">
        <div class="title">
            <h2>Funcionarios</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <td>RE</td>
                    <td>Nome</td>
                    <td>E-mail</td>
                    <td>Setor</td>
                    <td>Cargo</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="funcionario : ${funcionarios}">
                    <td th:text="${funcionario.re}"></td>
                    <td th:text="${funcionario.nome}"></td>
                    <td th:text="${funcionario.email}"></td>
                    <td th:text="${funcionario.setor}"></td>
                    <td th:text="${funcionario.cargo}"></td>
                    <td class="actions">
                        <a href="" class="edit"><i class="fas fa-pen fa-xs"></i></a>
                        <a href="" class="trash"><i class="fas fa-trash fa-xs"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="links">
        <a href="/cadastro-funcionario">
            <div class="link">
                <h1>Cadastrar funcionario</h1>
            </div>
        </a>
    </div>
</body>

</html>