<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Buscar Patrimônio</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
</head>

<body>

    <div class="content read">
        <div class="title">
            <h2>Patrimônios</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Data da compra</td>
                    <td>Status</td>
                    <td>Sala</td>
                    <td>Bloco</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="patrimonio : ${patrimonios}">
                    <td th:text="${patrimonio.id_patrimonio}"></td>
                    <td th:text="${patrimonio.nome_do_ativo}"></td>
                    <td th:text="${patrimonio.descricao}"></td>
                    <td th:text="${patrimonio.data_compra}"></td>
                    <td th:text="${patrimonio.status}"></td>
                    <td th:text="${patrimonio.sala.nome}"></td>
                    <td th:text="${patrimonio.sala.bloco}"></td>
                    <td class="actions">
                        <a href="" class="edit"><i class="fas fa-pen fa-xs"></i></a>
                        <a href="" class="trash"><i class="fas fa-trash fa-xs"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="links">
        <a href="/cadastro-patrimonio">
            <div class="link">
                <h1>Cadastrar patrimonio</h1>
            </div>
        </a>
    </div>
    
</body>

</html>