<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Salas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>

<body>
    <div class="container mt-5">
        <span class="${classe}" th:text="${msg}"></span>
        <h2>Cadastro de Salas</h2>
        <form action="/cadastro-sala" method="POST">
            <div class="form-group">
                <label for="bloco">Bloco:</label>
                <input type="text" class="form-control" id="bloco" name="bloco" required>
            </div>
            <div class="form-group">
                <label for="numero">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="responsavel">Responsável (RE do Funcionário):</label>
                <input type="number" class="form-control" id="responsavel" name="responsavel" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
