<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Confirmação</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="content">
        <h2>Confirmar o cancelamento dessa movimentacao</h2>
        <p>Você tem certeza que deseja marcar essa movimentação como cancelada?</p>
        <div>
            <a th:href="@{/cancelarConfirma/{id}(id=${movimentacao.id_mov})}" class="button">Sim</a>
            <a th:href="@{/editar-movimentacao}" class="button">Não</a>
        </div>
    </div>
</body>

</html>