<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>Login reconhecido!</h1>
    <a href="/buscar_patrimonio">Procurar Ativo Patrimonial</a>
    <a href="/listar_patrimonios">Ver todos os ativos patrimoniais</a>
    <a href="/listar_salas">Ver todos os ambientes</a>
    <a href="/listar_movimentacoes">Verificar movimentacoes</a>
    <a href="/listar_armazem">Ver estoque de itens de consumo</a>
    <a href="/logout">Logout</a>
</body>

</html>