<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Salas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h2>Listar Salas</h2>
    <div class="content read">
        <table border="1">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nº</td>
                    <td>Bloco</td>
                    <td>Responsavel</td>
                    <td>RE do responsavel</td>
                    <td>Ver patrimônios</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sala : ${salas}">
                    <td th:text="${sala.id}"></td>
                    <td th:text="${sala.nome}"></td>
                    <td th:text="${sala.bloco}"></td>
                    <td th:text="${sala.funcionario.nome}"></td>
                    <td th:text="${sala.funcionario.re}"></td>
                    <td class="actions">
                        <a th:href="@{/verificarPatrimonios/{id}(id=${sala.id})}" class="edit"><i class="fas fa-list"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
