<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Buscar Patrimônio</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <!-- Se existirem patrimônios encontrados, exibir na tabela -->
    <div class="content read">
        <div class="title">
            <h2>Ativo Patrimôniais cadastrados</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Status</td>
                    <td>Data da compra</td>
                    <td>Sala</td>
                    <td>Bloco</td>
                    <td></td>
                    <!-- Adicione mais colunas se necessário -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="patrimonio : ${patrimonios}">
                    <td th:text="${patrimonio.id_patrimonio}"></td>
                    <td th:text="${patrimonio.nome_do_ativo}"></td>
                    <td th:text="${patrimonio.descricao}"></td>
                    <td th:text="${patrimonio.status}"></td>
                    <td th:text="${patrimonio.data_compra}"></td>
                    <td th:text="${patrimonio.sala.nome}"></td>
                    <td th:text="${patrimonio.sala.bloco}"></td>
                    <td class="actions">
                        <a th:href="@{'/editar/'+ ${patrimonio.id_patrimonio}}" class="edit">
                            <p>Editar</p>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="links">
        <a href="/cadastrar_patrimonio">
            <div class="link">
                <h1>Cadastrar patrimonio</h1>
            </div>
        </a>
    </div>
</body>

</html>