<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Movimentações</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="content read">
        <div class="title">
            <h2>Histórico de movimentações</h2>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Ativo</td>
                        <td>Status</td>
                        <td>Origem</td>
                        <td>Destino</td>
                        <td>Solicitante</td>
                        <td>Data</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="movimentacao : ${movimentacoes}">
                        <td th:text="${movimentacao.id_mov}"></td>
                        <td th:text="${movimentacao.ativo.nome_do_ativo}"></td>
                        <td th:text="${movimentacao.status}"></td>
                        <td th:text="${movimentacao.origem.nome}"></td>
                        <td th:text="${movimentacao.destino.nome}"></td>
                        <td th:text="${movimentacao.solicitante.nome}"></td>
                        <td th:text="${movimentacao.data_movimentacao}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="links">
        <a href="/solicitar_movimentacao" >
            <div class="link" style="width: 35em;">
                <h1>Solicitar uma nova movimentacao</h1>
            </div>
        </a>
    </div>
</body>

</html>