<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Salas</title>
</head>
<body>
    <h2>Listar Salas</h2>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nº</th>
                    <th>Bloco</th>
                    <th>Responsavel</th>
                    <th>RE do responsavel</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sala : ${salas}">
                    <td th:text="${sala.id}"></td>
                    <td th:text="${sala.numero}"></td>
                    <td th:text="${sala.bloco}"></td>
                    <td th:text="${sala.funcionario.nome}"></td>
                    <td th:text="${sala.funcionario.re}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
