<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Armazem</title>
</head>
<body>
    <h2>Listar Armazem</h2>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Qntd.</th>
                    <th>Data de compra</th>
                    <th>Categoria do produto</th>
                    <th>Departamento do produto</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="armazem : ${armazem}">
                    <td th:text="${armazem.id}"></td>
                    <td th:text="${armazem.nome_produto}"></td>
                    <td th:text="${armazem.quantidade}"></td>
                    <td th:text="${armazem.data_compra}"></td>
                    <td th:text="${armazem.categoria_produto}"></td>
                    <td th:text="${armazem.local_armazem}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
