<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Armazem</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h2>Estoque de itens de consumo</h2>
    <div class="content read">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Qntd.</th>
                    <th>Data de compra</th>
                    <th>Categoria do produto</th>
                    <th>Departamento do produto</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="armazem : ${armazem}">
                    <td th:text="${armazem.id}"></td>
                    <td th:text="${armazem.nome_produto}"></td>
                    <td th:text="${armazem.quantidade}"></td>
                    <td th:text="${armazem.data_compra}"></td>
                    <td th:text="${armazem.categoria}"></td>
                    <td th:text="${armazem.local_armazem}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="/registrar-saida" class="link">
        <div>
            Registrar saída
        </div>
    </a>
    <a href=""></a>
</body>
</html>
