<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Listar Armazem</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
</head>

<body>
    <div class="sideBar">
        <div class="logo">
            <img th:src="@{/img/logo-senai1.png}" alt="">
        </div>
        <ul>
            <li ><a href="/interna" class="link-sidebar"><i class="fa-solid fa-inbox"></i>
                    Dashboard</a></li>
            <li><a href="/listar_patrimonios" class="link-sidebar"><i class="fa-solid fa-star"></i> Ativos</a></li>
            <li><a href="/listar_salas" class="link-sidebar"><i class="fa-solid fa-house"></i> Ambientes</a>
            </li>
            <li class="active"><a href="/listar_armazem" class="link-sidebar"><i class="fa-solid fa-box"></i> Estoque</a></li>
            <li><a href="/listar_movimentacoes" class="link-sidebar"><i class="fa-solid fa-arrows-alt-v"></i> Movimentações</a></li>
            <li><a href="/logout" class="link-sidebar"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
        </ul>
    </div>
    <div class="navBar">
        <ul>
            <li><input type="text" placeholder="Buscar..."></li>
            <div class="iconsBar">
                <i class="fa-solid fa-cog"></i>
                <i class="fa-solid fa-bell"></i>
            </div>
        </ul>
    </div>
    <div class="content read">
        <div class="title">
            <h2>Estoque de itens de consumo</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Qntd.</td>
                    <td>Data de compra</td>
                    <td>Categoria do produto</td>
                    <td>Departamento do produto</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="armazem : ${armazem}">
                    <td th:text="${armazem.id}"></td>
                    <td th:text="${armazem.nome_produto}"></td>
                    <td th:text="${armazem.quantidade}"></td>
                    <td th:text="${armazem.data_compra}"></td>
                    <td th:text="${armazem.categoria}"></td>
                    <td th:text="${armazem.local_armazem}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="links">
        <a href="/registrar-saida">
            <div class="link">
                <h1>Registrar saída</h1>
            </div>
        </a>
    </div>
</body>

</html>