<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Buscar Patrimônio</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleCadastro.css}">
</head>

<body>
    <div class="navbar-titulo">
        <h2>Realizar movimentacao</h2>
    </div>
    <div class="pre-cad">
        <form action="/solicitar_movimentacao" method="get">
            <input type="text" name="idPatrimonio" placeholder="Id do Patrimônio">
            <input type="text" name="emailDoSolicitante" placeholder="Seu e-mail">
            <button type="submit">Buscar</button>
        </form>
        <span class="resposta" th:text="${msg}"></span>
        <span class="resposta" th:text="${msgCad}"></span>
    </div>
    <!-- Se existirem patrimônios encontrados, exibir na tabela -->
    <div th:if="${solicitante != null && patrimonio != null}">
        <div class="content update">

            <form action="/enviar-solicitacao" method="POST">
                <div class="form-group">
                    <label for="solicitante">Solicitante:</label>
                    <input type="text" class="form-control" id="solicitante" name="solicitante"
                        th:value="${solicitante.re}" readonly required>
                </div>
                <div class="form-group">
                    <label for="data_movimentacao">Data da Movimentação:</label>
                    <input type="date" class="form-control" id="data_movimentacao" name="data_movimentacao" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="origem">Origem:</label>
                    <input type="text" class="form-control" id="origem" name="origem" th:value="${patrimonio.sala.id}"
                        th:text="${patrimonio.sala.nome}" readonly required>
                </div>
                <div class="form-group">
                    <label for="destino">Destino:</label>
                    <select class="form-control" id="destino" name="destino" required>
                        <option th:each="sala : ${salas}" th:value="${sala.id}" th:text="${sala.nome}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ativo">Ativo:</label>
                    <input type="text" class="form-control" id="ativo" name="ativo"
                        th:text="${patrimonio.nome_do_ativo}" th:value="${patrimonio.id_patrimonio}" required readonly>
                </div>
                <button type="submit">Cadastrar</button>
            </form>
        </div>

    </div>
</body>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>