<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buscar Patrimônio</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleRead.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h2>Patrimônios cadastrados no ambiente <span th:text="${sala.nome}"></span></h2>
    <!-- Se existirem patrimônios encontrados, exibir na tabela -->
    <div class="content read">
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Data da compra</td>
                    <td>Status</td>
                    <!-- Adicione mais colunas se necessário -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="patrimonio : ${patrimonios}">
                    <td th:text="${patrimonio.id_patrimonio}"></td>
                    <td th:text="${patrimonio.nome_do_ativo}"></td>
                    <td th:text="${patrimonio.descricao}"></td>
                    <td th:text="${patrimonio.data_compra}"></td>
                    <td th:text="${patrimonio.status}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
